[submodule "packages/engine"]
	path = packages/engine
	url = https://github.com/flow-build/engine.git
[submodule "docs"]
	path = docs
	url = https://github.com/flow-build/flow-build.github.io.git
[submodule "packages/workflow"]
	path = packages/workflow
	url = https://github.com/flow-build/workflow.git
[submodule "packages/react-workflow-manager"]
	path = packages/react-workflow-manager
	url = https://github.com/flow-build/react-workflow-manager.git
[submodule "packages/cli"]
	path = packages/cli
	url = https://github.com/flow-build/cli.git
[submodule "packages/observer-api"]
	path = packages/observer-api
	url = https://github.com/flow-build/observer.git
[submodule "packages/mission-control-api"]
	path = packages/mission-control-api
	url = https://github.com/flow-build/mission-control.git
[submodule "packages/admin"]
	path = packages/admin
	url = https://github.com/flow-build/admin.git
